In [4]:
n= int(input("n: "))
for i in range(n):
    for j in range(n-1-i):
        print(" ",end=" ")
    for k in range(2*i+1):
        if i == n-1 or i == 0 or k == 0 or k == 2 * i:
            print('*', end = ' ')
    print()

            *
          * *
        * *
      * *
    * *
  * *
* * * * * * * * * * * * *

In [6]:
n= int(input("n: "))
for i in range(1,n+1):
    for j in range(1,n+1):
        if j <= i and j <= n+1-i:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print( )

*
* *
* * *
* *
*

In [7]:
n= int(input("n: "))
for i in range(1,n+1):
    for j in range(1,n+1):
        if j >= i and j >= n+1-i:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print( )

        *
      * *
    * * *
      * *
        *

In [16]:
print(1//1)

1

In [5]:
n = int(input("Enter the number of rows :"))
for i in range(1,n + 1):
  for j in range(1, n + 1):
    if j <= i and j <= n + 1 - i:
      print("*", end=" ")
    else:
      print(" ", end=" ")
  print()

*
* *
* * *
* *
*

In [8]:
l1 = [3,4,5,6,7,8]
val = [int(input("Enter the value :"))]
l1 = l1 + val
print(l1)

for i in range(len(l1)-1,-1,-1):
    print(l1[i],end=" ")

[3, 4, 5, 6, 7, 8, 5]
5 8 7 6 5 4 3

In [13]:
n = int(input("n: "))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    val = 1
    for k in range(i+1):
        print(val, end = ' ')
        val = val*(i - k) // (k + 1)
    print( )

        1
      1 1
    1 2 1
  1 3 3 1
1 4 6 4 1

In [4]:
n = int(input("n: "))
#val= ord("z")
for i in range (n):
    val= ord("z")-i
    for j in range (n):
        if (i+j)>=n-1:
            print(chr(val),end=" ")
            val+=1
            if val<ord("A"):
                val=ord("z")
        else:
            print(" ",end=" ")
    print()
    #val=ord("z")
    #val-=1

    z
  y z
x y z

In [3]:
n= int(input("n: "))
for i in range(1,n+1):
    for j in range(1,n+1):
        if j >= i and j>= n+1-i:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print( )

        *
      * *
    * * *
      * *
        *

In [31]:
l='string'
for i in range(len(l)):
    print (l[i],end = '')

string

In [2]:
n = int(input('n :'))
sum = 0
for i in range(1,n + 1):
    sum += i
print(sum, end = '')

15

In [3]:
n = int(input('n :'))
sum = 0
for i in range(1,n + 1):
    sum += i**2
print(sum, end = '')

55

In [7]:
n = int(input('n :'))
c = 0
while n != 0:
    c = n // 10
    n = n / 10
c += 1
print(c)

1.0

SyntaxError: invalid syntax (1048225456.py, line 1)

In [19]:
import numpy as np
import pandas as pd
d={'empno':np.arange(101,111),
    'ename':['smith','ward','allen','manupriya','anitha','james','nishika','king','ford','sharanya'],
   'sal':[800,6000,3950,4250,3000,3999,4777,5555,8000,7590],
   'comm':[300,np.nan,400,np.nan,100,0,np.nan,np.nan,np.nan,np.nan],
   'job':['clerk','salesman','manager','analyst','president','hr','clerk','salesman','analyst','clerk'],
   'hiredate':['3/jun/2000','3/jun/2001','3/jul/2000','3/jun/2000','6/jun/2000','6/jun/2000','5/dec/1999','3/jun/2000','3/jun/2000','3/jun/2000'],
   'deptno':[10,20,20,30,10,20,30,20,10,30]}
df=pd.DataFrame(d)
print(df.value_counts(['job','deptno']))

job        deptno
clerk      30        2
salesman   20        2
analyst    30        1
           10        1
clerk      10        1
hr         20        1
manager    20        1
president  10        1
Name: count, dtype: int64