In [4]:
import pandas as pd
d={'ename':['baba','vali','sultan','shaik','adil'],
   'age':[20,30,14,23,45,],
   'city':['ap','kar','mp','up','tn']
   }
df=pd.DataFrame(d)
print(df)
print(df.head(3))
print(df.head(-2))
print(df.tail(3))
print(df.info())

    ename  age city
0    baba   20   ap
1    vali   30  kar
2  sultan   14   mp
3   shaik   23   up
4    adil   45   tn
    ename  age city
0    baba   20   ap
1    vali   30  kar
2  sultan   14   mp
    ename  age city
0    baba   20   ap
1    vali   30  kar
2  sultan   14   mp
    ename  age city
2  sultan   14   mp
3   shaik   23   up
4    adil   45   tn
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ename   5 non-null      object
 1   age     5 non-null      int64
 2   city    5 non-null      object
dtypes: int64(1), object(2)
memory usage: 252.0+ bytes
None

In [5]:
import pandas as pd
d={'name':['baba','vali'],
   'age':[11,12]}
df=pd.DataFrame(d)
df.to_csv('name.csv')
df=pd.read_csv('name.csv')
df.to_excel('name.xlsx')

In [6]:
import pandas as pd
d={'name':['baba','vali'],
   'age':[11,12]}
df=pd.DataFrame(d)
df.to_csv('name.csv')
df=pd.read_csv('name.csv')
df.to_excel('name.xlsx')

In [7]:
n=int(input("n:"))
l=len(str(n))
sum=0
while i>0:
    for i in range(l):
        sum+=int(i)
    print(sum)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
import numpy as np
import pandas as pd
d={'empno':np.arange(101,111),
    'ename':['smith','ward','allen','manupriya','anitha','james','nishika','king','ford','sharanya'],
   'sal':[800,6000,3950,4250,3000,3999,4777,5555,8000,7590],
   'comm':[300,np.nan,400,np.nan,100,0,np.nan,np.nan,np.nan,np.nan],
   'job':['clerk','salesman','manager','analyst','president','hr','clerk','salesman','analyst','clerk'],
   'hiredate':['3/jun/2000','3/jun/2001','3/jul/2000','3/jun/2000','6/jun/2000','6/jun/2000','5/dec/1999','3/jun/2000','3/jun/2000','3/jun/2000'],
   'deptno':[10,20,20,30,10,20,30,20,10,30]}
df=pd.DataFrame(d)

In [13]:
import pandas as pd
d={'name':['smith','allen','ward','james','king'],
   'age':[20,22,25,26,28],
   'city':['newyork','dallas','chicago','america','germeny']}
df=pd.DataFrame(d) 
print(df)
print(df.info())
print(df.head(3))
print(df.head(-2))
print(df.tail(3))
df[(df['job']==['analyst'])|(df['deptno']==[10,20]]

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (42645392.py, line 11)

In [2]:
import numpy as np
import pandas as pd

In [15]:
import pandas as pd
d={'name':['smith','allen','ward','james','king'],
   'age':[20,22,25,26,28],
   'city':['newyork','dallas','chicago','america','germeny']
   'deptno':}
df=pd.DataFrame(d)

KeyError: 'job'

In [17]:
import numpy as np
import pandas as pd
d={'empno':np.arange(101,111),
    'ename':['smith','ward','allen','manupriya','anitha','james','nishika','king','ford','sharanya'],
   'sal':[800,6000,3950,4250,3000,3999,4777,5555,8000,7590],
   'comm':[300,np.nan,400,np.nan,100,0,np.nan,np.nan,np.nan,np.nan],
   'job':['clerk','salesman','manager','analyst','president','hr','clerk','salesman','analyst','clerk'],
   'hiredate':['3/jun/2000','3/jun/2001','3/jul/2000','3/jun/2000','6/jun/2000','6/jun/2000','5/dec/1999','3/jun/2000','3/jun/2000','3/jun/2000'],
   'deptno':[10,20,20,30,10,20,30,20,10,30]}
df=pd.DataFrame(d)
df[(df['job']=='analyst')|(df['deptno']==20)]

   empno      ename   sal   comm       job    hiredate  deptno
1    102       ward  6000    NaN  salesman  3/jun/2001      20
2    103      allen  3950  400.0   manager  3/jul/2000      20
3    104  manupriya  4250    NaN   analyst  3/jun/2000      30
5    106      james  3999    0.0        hr  6/jun/2000      20
7    108       king  5555    NaN  salesman  3/jun/2000      20
8    109       ford  8000    NaN   analyst  3/jun/2000      10